* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  place-content: center;
  font-size: 3rem;
  background-color: black;
  color: whitesmoke;
}

h1, p {
  text-align: center;
}


main {
  flex-grow: 1;
  display: grid;
  place-content: center;
}

h1, p {
  text-align: center;
}

a {
  text-decoration: none;
  color: #81dbb8;
  font-size: 1.5rem;
}

a:hover {
  opacity: 0.85;
}

img {
  width: 100%;
  height: 300px;
}

.form-register {
  font-size: 1.3rem;
}

.logout {
  display: inline-block;
}

.logout-button {
  font-size: 2.5rem;
  background-color: #000;
  border: none;
  color: whitesmoke;
  font-size: 1rem;
}

.logout-button:hover {
  opacity: 0.85;
  background-color: red;
}